.transportHomePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.transportHomePage h5{
    color: black;
    border: 1px solid #F5B82E;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 13px;
}
.transportHomePage h1{
    color: black;
    font-size: 40px;
    text-align: center;
}
.transportHomePage h1 span{
    color: #F5B82E;
    font-family: cursive;
    width: fit-content;
    font-weight: 900;
}
.transportHomePage p{
    color: rgb(123, 121, 121);
}
/*  heroSection */
.transportHomePage .heroSection{
    padding-top: 70px;
    width: 100%;
    /* aspect-ratio: 21/9; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    min-height: 650px;
    /* background-color: #02254b92; */
    /* z-index: 2; */
}
.transportHomePage .heroSection::before{
    inset: 0;
    content: "";
    position: absolute;

    background-image: url(../heroimg.jpeg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;

}
.transportHomePage .heroSection h1,
.transportHomePage .heroSection > p,
.transportHomePage .heroSection h5{
    margin-left: 40px;
}
.transportHomePage .heroSection h1{
    font-size: 60px;
    text-align: start;
}

.transportHomePage .heroSection .heroBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 40px;
}
.transportHomePage .heroSection .heroBtn button{
    background-color: #02254B;
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    &:hover{
        color: #02254B;
        background-color: white;
        border: 1px solid black;
    }
}
.transportHomePage .heroSection .heroBtn button:last-child{
    background-color: white;
    border: 1px solid black;
    color: black;
    &:hover{
        color: #02254B;
        background-color: #02254B;
        color: white;
    }
}
.transportHomePage .heroSection .herSecDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    background-color: #9f71062f;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F5B82E;
    margin-left: 40px;
}
.transportHomePage .heroSection .herSecDiv span{
    border-right: 2px solid #f6ad02;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transportHomePage .heroSection .herSecDiv span:last-child{
    border: none;
    padding: 0px;
}
.transportHomePage .heroSection .heroFoter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #02254b;
    padding: 20px 0px;
    margin-top: auto;
    gap: 10px;
}
.transportHomePage .heroSection .heroFoter div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* border: 1px solid #02254B; */
    border-radius: 10px;
    background-color: #597ba063;
    color: white;
    padding: 10px;
}
.transportHomePage .heroSection .heroFoter div span{
    display: flex;
    font-size: 40px;
}


/* whoWeAre */
.transportHomePage .whoWeAre{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.transportHomePage .whoWeAre >p,
.transportHomePage .whoWeAre h1{
    text-align: center;
    width: 80%;
}
.transportHomePage .whoWeAre .wItemSec{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}
.transportHomePage .whoWeAre .wItemSec .WImg{
    aspect-ratio: 9/12;
    background-color: #02254B;
    background-image: url(../transportHomeHerosectionImg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding: 10px;
    margin-left: 10px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec div:last-child{
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec div span{
    color: white;
    background-color: #02254B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec div p{
    color: black;
    font-size: 18px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec button{
    width: fit-content;
    font-size: 17px;
    background-color: white;
    color: #02254B;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #02254B;
    transition: all 0.3s ease;
    &:hover{
        background-color: white;
        color: #02254B;
    }
}

/* whatWeDo */
.transportHomePage .whatWeDo{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.transportHomePage .whatWeDo > p{
    text-align: center;
}

.transportHomePage .whatWeDo .weDoSec{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: #02254b14;
    padding: 20px;
    border-radius: 30px;
}
.transportHomePage .whatWeDo .weDoSec div{
    background-color: #02254b2a;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10pxs;
    min-height: 250px;
}
.transportHomePage .whatWeDo .weDoSec div:last-child{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #02254b5c , #02254B);
    color: white;
    gap: 10px;
}
.transportHomePage .whatWeDo .weDoSec div span{
    display: flex;
    font-size: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: #023d7b;
}
.transportHomePage .whatWeDo .weDoSec div h3{
    color: black;
    font-size: 25px;
}
.transportHomePage .whatWeDo .weDoSec div:last-child h3{
    color: white;
    font-size: 35px;
    text-align: center;
}
.transportHomePage .whatWeDo .weDoSec div:last-child p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 17px;
}
.transportHomePage .whatWeDo .weDoSec div:last-child button{
    font-size: 20px;
    padding: 15px 30px;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-top: 15px;
}

/* ourFleet */
.transportHomePage .ourFleet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    background-color: #02254B;
    padding: 70px 50px;
 }
.transportHomePage .ourFleet > h5{
    color: white;
}
.transportHomePage .ourFleet > p{
    text-align: center;
    font-size: 17px;
}
.transportHomePage .ourFleet h1{
    text-align: start;
    font-size: 50px;
    color: white;
}
.transportHomePage .ourFleet .ourFleetSec{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    overflow:scroll;
    margin-top: 20px;
    scrollbar-width: none;
}
.transportHomePage .ourFleet .ourFleetSec .ourfleetItem{
    width: 300px;
    height: 350px;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    overflow: hidden;
    
}
.transportHomePage .ourFleet .ourFleetSec .ourfleetItem div{
    background-image: url(../transportHomeHerosectionImg.webp);
    width: 100%;
    aspect-ratio: 12/9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.transportHomePage .ourFleet .ourFleetSec .ourfleetItem h3{
    padding: 0px 10px;
    color: #02254B;
    font-size: 25px;
    margin-top: 20px;
}
.transportHomePage .ourFleet .ourFleetSec .ourfleetItem p{
    padding: 0px 10px;
    color: rgb(129, 128, 128);
}


.transportHomePage .ourFleet .ourFleetSec .ourfleetItem:last-child{
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.transportHomePage .ourFleet .ourFleetSec .ourfleetItem:last-child h3{
    font-size: 40px;
}
.transportHomePage .ourFleet .ourFleetSec .ourfleetItem:last-child button{
    width: 90%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #02254B;
    border-radius: 10px;

}

/* WhyChooseUs */
.transportHomePage .WhyChooseUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    color: white;
    transform: translateY(-100px);
    padding: 100px 40px;
 }
.transportHomePage .WhyChooseUs div > h5{
    color: white;
}
.transportHomePage .WhyChooseUs h1{
    /* color: white; */
    text-align: start;
}
.transportHomePage .WhyChooseUs .wcuTopSec{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    /* padding: 20px; */
    border-radius: 20px;
    overflow: hidden;
}
.transportHomePage .WhyChooseUs .wcuTopSec .topSecImg{
    background-image: url(../transportHomeHerosectionImg.webp);
    aspect-ratio: 12/9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.transportHomePage .WhyChooseUs .wcuTopSec div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.transportHomePage .WhyChooseUs .secSecdiv{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.transportHomePage .WhyChooseUs .secSecdiv div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.111);
    padding: 10px;
    border-radius: 20px;
    min-height: 200px;
}
.transportHomePage .WhyChooseUs .secSecdiv div span{
    font-size: 40px;
    display: flex;
    padding: 20px;
    color: #F5B82E;
}
.transportHomePage .WhyChooseUs .secSecdiv div h3{
    font-size: 20px;
}


/* project */
.transportHomePage .project{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    padding: 70px 50px;
 }
.transportHomePage .project > p{
    text-align: center;
    font-size: 17px;
}
.transportHomePage .project h1{
    text-align: start;
    font-size: 50px;
}
.transportHomePage .project .projectSec{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    overflow:scroll;
    margin-top: 20px;
    scrollbar-width: none;
}
.transportHomePage .project .projectSec .projectItem{
    width: 300px;
    height: 350px;
    background-color: black;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    overflow: hidden;
    
}
.transportHomePage .project .projectSec .projectItem div{
    background-image: url(../transportHomeHerosectionImg.webp);
    width: 100%;
    aspect-ratio: 12/9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.transportHomePage .project .projectSec .projectItem h3{
    padding: 0px 10px;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}
.transportHomePage .project .projectSec .projectItem p{
    padding: 0px 10px;
    color: rgb(129, 128, 128);
}


.transportHomePage .project .projectSec .projectItem:last-child{
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.transportHomePage .project .projectSec .projectItem:last-child h3{
    font-size: 40px;
}
.transportHomePage .project .projectSec .projectItem:last-child button{
    width: 90%;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 10px;

}
/* howWeWork */
.transportHomePage .howWeWork{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #02254b3b;
    padding: 40px 20px;
    border-radius: 30px;
    /* border: 1px solid #02254B; */
    box-shadow:  0px 0px 20px #02254B;
}
.transportHomePage .howWeWork > div{
    width: 100%;
    background-color: #02254B;
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.transportHomePage .howWeWork > div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.transportHomePage .howWeWork  div span{
    font-size: 30px;
    color: white;
    display: flex;
}
.transportHomePage .howWeWork div h4{
    color: rgb(160, 158, 158);
    font-size: 13px;
    text-align: center;
}


/* homeContactUs */
.transportHomePage .homeContactUs{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #02254B;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 30px;
    min-height: 250px;
    margin-top: 50px;
}
.transportHomePage .homeContactUs h1{
    color: white;
    width: 80%;
}
.transportHomePage .homeContactUs p{
    font-size: 20px;
    margin-bottom: 30px;
    width: 70%;
}

.transportHomePage .homeContactUs button{
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 10px;
}

/* Coverage */
.transportHomePage .Coverage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #02254B;
    padding-top: 60px;
}
.transportHomePage .Coverage h1,
.transportHomePage .Coverage h5{
    color: white;
}

.transportHomePage .Coverage div{
    width: 100%;
    background-image: url(../../../coverageImg.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 20/10;
    transform: translateY(60px);
}

@media (max-width:765px){

    .transportHomePage h1{
        font-size: 30px;
    }
    /* heroSection */
    .transportHomePage .heroSection h1{
        font-size: 40px;
    }
    .transportHomePage .heroSection .heroFoter {
        justify-content: center;
        margin-top: auto;
    }
    .transportHomePage .heroSection .heroFoter div p{
        font-size: 10px;
    }
    .transportHomePage .heroSection .heroFoter div span{
        font-size: 20px;
    }
}