.transportHomePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.transportHomePage h5{
    color: black;
    border: 1px solid #02254B;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 13px;
}
.transportHomePage h1{
    color: black;
    font-size: 40px;
    text-align: center;
}

.transportHomePage p{
    color: rgb(132, 131, 131);
}
/* herosection */
.transportHomePage .heroSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.transportHomePage .heroSection h1{
    width: 90%;
}
.transportHomePage .heroSection > p{
    text-align: center;
    width: 90%;
}
.transportHomePage .heroSection h5{
    color: #02254B;
    
}
.transportHomePage .heroSection .herobgImg{
    
    border: 2px solid #02254B;
    border-top: 0px;
    width: 90%;
    aspect-ratio: 25/10;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    max-height: 500px;
    background-image: url(../../assets/homepageherobgimg.jpeg);
    background-position:bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    

}

.transportHomePage .heroSection h1{
    font-size: 60px;
}

.transportHomePage .heroSection .heroBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 40px;
}
.transportHomePage .heroSection .heroBtn a button{
    background-color: #02254B;
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    &:hover{
        color: #02254B;
        background-color: white;
        border: 1px solid black;
    }
}
.transportHomePage .heroSection .heroBtn a:last-child button{
    background-color: white;
    border: 1px solid black;
    color: black;
    &:hover{
        color: #02254B;
        background-color: #02254B;
        color: white;
    }
}

.transportHomePage .heroSection .heroFoter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 10px 0px;
    background-color: #02254B;
    padding: 20px;
}
.transportHomePage .heroSection .heroFoter div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
}
.transportHomePage .heroSection .heroFoter div p{
    color: rgb(186, 184, 184);
}
.transportHomePage .heroSection .heroFoter div span{
    display: flex;
    font-size: 30px;
    color: white;
}


/* whoWeAre */    
.transportHomePage .whoWeAre{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.transportHomePage .whoWeAre >p,
.transportHomePage .whoWeAre h1{
    text-align: center;
    width: 80%;
}
.transportHomePage .whoWeAre .wItemSec{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    background-color: #02254b1b;
    padding: 20px;
    border-radius: 30px;
}
.transportHomePage .whoWeAre .wItemSec .categoryBtnSec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: black; */
    padding-top: 15px;
}
.transportHomePage .whoWeAre .wItemSec .categoryBtnSec h4{
    color: #777;
    transition: all 0.3s ease;
    cursor: pointer;
}
.transportHomePage .whoWeAre .wItemSec .categoryBtnSec h4.activeCategory {
    color: #02254B;
}
.transportHomePage .whoWeAre .wItemSec .categoryBtnSec div{
    background-color: rgba(255, 255, 255, 0.509);
    width: 100px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #02254B;
    position: relative;
    transition: all ease 0.3s;
    &:hover{
        box-shadow: inset 0px 0px 5px #02254B;
    }
}
.transportHomePage .whoWeAre .wItemSec .categoryBtnSec div span{
    height: 40px;
    aspect-ratio: 9/9;
    background-color: #013e7ee7;
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 5px;
    transition: all 0.3s ease;
    
}
.transportHomePage .whoWeAre .wItemSec .categoryBtnSec div span.right{
    left: 50px;
}


.transportHomePage .whoWeAre .wItemSec .wRightSec{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #02254b45;
    padding: 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    /* cursor: pointer; */
    position: relative;
    padding-top: 55px;
    
}
.transportHomePage .whoWeAre .wItemSec .wRightSec h2{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #02254B;
    margin-bottom: 20px;
    grid-column: span 2;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border: 1px solid #02254B;
    padding: 10px;
    margin-left: 10px;
    background-color: #02254b64;
    border-radius: 10px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec div:last-child{
    border: none;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec div span{
    color: white;
    background-color: #02254B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
}
.transportHomePage .whoWeAre .wItemSec div p{
    color: rgb(218, 215, 215);
    font-size: 18px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec  .leftrightBtnSec{
    position: absolute;
    right: 0px;
    top: 0px;
    width: fit-content;
    background-color: unset;
    padding: 20px;
    gap: 10px;
}
.transportHomePage .whoWeAre .wItemSec .wRightSec  .leftrightBtnSec span{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.069);
    transition: all 0.3s ease;
    color: black;
    &:hover{
        background-color: #013e7ee7;
        color: white;
    }
}
.transportHomePage .whoWeAre .wItemSec .wRightSec  .leftrightBtnSec span.hide{
    transition: all 0.3s ease;
    opacity: 0;
}


/* whatWeDo */
.transportHomePage .whatWeDo{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.transportHomePage .whatWeDo > p{
    text-align: center;
}

.transportHomePage .whatWeDo .weDoSec{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: #02254b14;
    padding: 20px;
    border-radius: 30px;
}
.transportHomePage .whatWeDo .weDoSec div{
    background-color: #02254b2a;
    border-radius: 20px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10pxs;
    min-height: 250px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
        transform: scale(1.03);
        box-shadow: 0px 0px 10px black;
    }
}
/* .transportHomePage .whatWeDo .weDoSec div:last-child{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #02254b5c , #02254B);
    color: white;
    gap: 10px;
    padding: 20px 1px;
} */

.transportHomePage .whatWeDo .weDoSec div h3{
    color: white;
    font-size: 17px;
    backdrop-filter: blur(5px);
    background-color: #02254b1b;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.transportHomePage .whatWeDo .weDoSec div p{
    color: rgb(93, 92, 92);
    font-size: 15px;
    /* backdrop-filter: blur(5px); */
    /* background-color: #02254b1b; */
    padding: 10px;
    padding-top: 0px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* .transportHomePage .whatWeDo .weDoSec div:last-child h3{
    color: white;
    font-size: 35px;
    text-align: center;
    backdrop-filter: blur(0px);
    background-color: transparent;
    height: auto;
} */
.transportHomePage .whatWeDo .weDoSec div:last-child p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 17px;
    backdrop-filter: blur(0px);
}
.transportHomePage .whatWeDo .weDoSec div:last-child button{
    font-size: 20px;
    padding: 15px 30px;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-top: 15px;
}

/* ourFleet */
.transportHomePage .ourFleet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    background-color: #02254B;
    padding: 70px 00px;
 }
.transportHomePage .ourFleet > h5{
    color: white;
}
.transportHomePage .ourFleet > p{
    /* text-align: center; */
    font-size: 17px;
    padding: 0px 40px;
}
.transportHomePage .ourFleet h1{
    text-align: start;
    font-size: 50px;
    color: white;
    padding: 0px 40px;
}
.transportHomePage .ourFleet .ourFleetSec{
    width: 100%;
}

/* WhyChooseUs */
.transportHomePage .WhyChooseUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #02254B;
    color: white;
    /* transform: translateY(-100px); */
    padding: 100px 0px;
 }

.transportHomePage .WhyChooseUs > p{

    padding: 0px 30px;
}
.transportHomePage .WhyChooseUs h1{
    color: white;
    text-align: start;
    padding: 0px 30px;
}
.transportHomePage .WhyChooseUs .secSecdiv{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
/* pad: ; */
    padding: 0px 40px;
}
.transportHomePage .WhyChooseUs .secSecdiv div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    min-height: 200px;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.02);
    }
}
.transportHomePage .WhyChooseUs .secSecdiv div span{
    font-size: 40px;
    display: flex;
    padding: 20px;
    color: #02254B;
}
.transportHomePage .WhyChooseUs .secSecdiv div h3{
    font-size: 20px;
    color: black;
}


/* project */
.transportHomePage .project{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.transportHomePage .project > p{
    text-align: center;
    font-size: 17px;
}
.transportHomePage .project h1{
    text-align: center;
}
.transportHomePage .project .projectSec{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.transportHomePage .project .projectSec div{
    min-height: 250px;
    background-color: #02254B;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    padding: 20px;
    
}

.transportHomePage .project .projectSec div span{
    font-size: 50px;
    display: flex;
    margin-top: 10px;
    color: white;
}
.transportHomePage .project .projectSec div h3{
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
.transportHomePage .project .projectSec div p{
    font-size: 15px;
    color: rgb(129, 128, 128);
}

/* howWeWork */
.transportHomePage .howWeWork{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #02254b3b;
    padding: 40px 20px;
    border-radius: 30px;
    /* border: 1px solid #02254B; */
    box-shadow:  0px 0px 20px #02254B;
}
.transportHomePage .howWeWork > div{
    width: 100%;
    background-color: #02254B;
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.transportHomePage .howWeWork > div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.transportHomePage .howWeWork  div span{
    font-size: 30px;
    color: white;
    display: flex;
}
.transportHomePage .howWeWork div h4{
    color: rgb(160, 158, 158);
    font-size: 13px;
    text-align: center;
}



@media (max-width:1000px) and (min-width:765px){
    .transportHomePage .project .projectSec{
        grid-template-columns: repeat(2,1fr);
    }
    .transportHomePage .project .projectSec div{
        min-height: 200px;
    }
}
@media (max-width:765px){

    .transportHomePage h1{
        font-size: 30px;
    }
    /* heroSection */
    .transportHomePage .heroSection  .herobgImg{
        min-height: 250px;
    }
    .transportHomePage .heroSection h1{
        font-size: 40px;
    }
    .transportHomePage .heroSection .heroFoter {
        justify-content: center;
        margin-top: auto;
    }
    .transportHomePage .heroSection .heroFoter div p{
        font-size: 10px;
    }
    .transportHomePage .heroSection .heroFoter div span{
        font-size: 20px;
    }

    /* whoWeAre */
    .transportHomePage .whoWeAre {
        width: 90%;
    }
    .transportHomePage .whoWeAre .wItemSec {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        /* background-color: transparent; */
        
    }
    .transportHomePage .whoWeAre .wItemSec .wRightSec{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .transportHomePage .whoWeAre .wItemSec .categoryBtnSec div{
        height: 30px;
        width: 50px;
    }
    .transportHomePage .whoWeAre .wItemSec .categoryBtnSec div span{
        height: 20px;
    }
    .transportHomePage .whoWeAre .wItemSec .categoryBtnSec div span.right{
        left: 23px;
    }
    .transportHomePage .whoWeAre .wItemSec .categoryBtnSec h4{
        font-size: 10px;
    }

    /* whatWeDo */
    .transportHomePage .whatWeDo .weDoSec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background-color: transparent;
    }
    .transportHomePage .whatWeDo .weDoSec div{
        width: 100%;
    }
    .transportHomePage .whatWeDo .weDoSec div:last-child h3{
        font-size: 25px;
    }

    /* ourFleet */
    .transportHomePage .ourFleet > p{
        text-align: start;
    }
    .transportHomePage .ourFleet h1{
        font-size: 30px;
        margin-top: 20px;
    }
    .transportHomePage .ourFleet .ourFleetSec .ourfleetItem{
        width: 250px;
        justify-content: space-between;
        height: 310px;
    }
    .transportHomePage .ourFleet .ourFleetSec .ourfleetItem div{
        background-color: #02254B;
        /* height: 0px; */
    }

    /* WhyChooseUs */
    .transportHomePage .WhyChooseUs > p{
        text-align: center;
        width: 90%;
        padding: 0px;
    }
    .transportHomePage .WhyChooseUs  h1{
        font-size: 30px;
        color: white;
        padding: 0px;
        text-align: center;
        width: 90%;
        padding: 0px;
    }
    .transportHomePage .WhyChooseUs .wcuTopSec .topSecImg{
        display: none;
    }
    .transportHomePage .WhyChooseUs .secSecdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 20px;

        
    }
    .transportHomePage .WhyChooseUs .secSecdiv div{
        width: 100%;
    }

    /* project */
    
    
    .transportHomePage .project .projectSec{
        grid-template-columns: 1fr;
    }
    .transportHomePage .project .projectSec div{
        min-height: 200px;
    }
    /* howWeWork */
    .transportHomePage .howWeWork{
        width: 90%;
    }
    .transportHomePage .howWeWork h1{
        text-align: start;
    }
    /* ourFleet */
    .transportHomePage .project > p{
        text-align: start;
    }
    .transportHomePage .project h1{
        font-size: 30px;
        margin-top: 20px;
    }
    .transportHomePage .project .projectSec .projectItem{
        width: 250px;
        justify-content: space-between;
        height: 310px;
    }
    .transportHomePage .project .projectSec .projectItem div{
        background-color: #02254B;
        /* height: 0px; */
    }


    .transportHomePage .homeContactUs{
        width: 90%;
    }
    .transportHomePage .homeContactUs p{
        width: 100%;
    }
    .transportHomePage .homeContactUs h1{
        font-size: 25px;
        width: 100%;
    }
}
