
.footera{
    bottom: 0px;
    width: 100%;
    background-color: #001d3b;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(132, 132, 132);
    /* background-color: #170125; */
}


.footera .footeraUpside{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}
.footera .footeraUpside .footeraUpsideLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.footera .footeraUpside .footeraUpsideLeft p{
    color: rgb(165, 162, 162);
}
.footera .footeraUpside .footeraUpsideLeft h4{
    color: white;
    font-size: 20px;
}


.footera .footeraUpside .footerLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.footera .footeraUpside .footerLogo h5{
    color: white;
    font-size: 20px;
}
.footera .footeraUpside .footerLogo div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    color: rgb(154, 152, 152);
}
.footera .footeraUpside .footerLogo div span{
    display: flex;
    font-size: 25px;
    color: white;
}


.footerDown{
    display:flex ;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.downSection{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 15px;
    /* color: rgb(149, 149, 149); */
    border-top: 1px solid rgb(132, 132, 132);
    padding-top: 0px;
    height: 70px;
}
/* jsdajdsjd */
.downSection div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 765px) {
    
    .footera .footeraUpside {
        
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 40px;
    }
    
    .footera .logoSec{
        text-align: start;
    }

    
}