*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: white;
}

p{
  color: white;
  font-size: 16px;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
a{
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
